.container{
    width: 554px;
    height: 717px;
}
.container .bg-image img{
    width: 578px;
    height: 779px;
    margin:0px -12px;
}

.container .bg-title{
    position:absolute;
    width: 477.36px;
    height: 126.72px;
    top:80%;
    left:22%;
    display:inline-block;
    background:rgba(255, 255, 255, 0.5)
}
.title{
    position: absolute;
    width: 459px;
    max-height: 118.8px;
    top: 81%;
    left: 26%;
    font-size: 32px;
    text-align: left;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    color: #333;
}

.products{
    list-style: none;
}